.services-item-details-container {
  font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the actual font name */
  transition: background-color 0.3s ease-in-out;
}

.services-details-card-heading,
.services-benefit-heading,
.request-heading-services {
  color: black; /* Blue heading color */
  font-size: 30px; /* Adjust heading font size */
}

.services-details-card-para,
.services-benefit-para {
  color: gray; /* Dark text color */
  font-size: 16px; /* Adjust paragraph font size */
}

.btn-contact {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
}

.btn-contact:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
